.banner {
      display: flex;
      overflow: hidden;
      background: white;
      color: black;
      padding: 10px 0;
      box-shadow: 0 0 8px #ddd;
    }

    .banner-content {
      display: flex;
      animation: scroll 18s linear infinite;
    }

    .banner-content h3 {
      margin: 0 50px;
      white-space: nowrap;
      text-transform: uppercase;
      
    }

    @keyframes scroll {
      from { transform: translateX(0); }
      to { transform: translateX(-50%); } /* يتحرك نص العرض */
    }